<%= form_for(@article) do |a| %>
  <ul>
    <% @article.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <p>
    <%= a.label :title %><br />
    <%= a.text_field :title %>
  </p>
  <p>
    <%= a.label :body %><br />
    <%= a.text_area :body %>
  </p>
  <p>
    <%= a.submit %>
  </p>
<% end %>
